// @import "../node_modules/bootstrap/scss/bootstrap.scss";
body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

#page {
  background-color: #194494;
  padding: 25px;
  // height: calc(100vh - 0px);
}

img {
  max-width: 100%;
}
body.show {
  height: 100%;
  overflow: hidden;
}
body.show .sectionBg {
  display: block;
  cursor: pointer;
}
.sectionBg {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
  z-index: 99;
}
.bgImage {
  // background-image: url("/images/bgimage.jpg");
  // background-image: url("./images/bgimage.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  border-radius: 5px;
}
ul.navbar-nav li:nth-child(2) a,
ul.navbar-nav li:nth-child(3) a,
ul.navbar-nav li:nth-child(4) a {
  padding: 18px 28px 18px 0px !important;
}
ul.navbar-nav li:nth-child(2) .dropdown-toggle::after,
ul.navbar-nav li:nth-child(3) .dropdown-toggle::after {
  display: none;
}
ul.navbar-nav.ml-auto {
  @media screen and (max-width: 991px) {
    display: none;
  }
}


.navbar-brand {
  width: 80px;
  margin-right: 0;
  @media screen and (max-width: 767px) {
    margin: 15px 0 0;
  }
}
#main {
  overflow: auto;

  .responsiveTable {
    width: 100%;
      overflow-x: scroll;
      @media screen and (max-width: 767px) {
        padding: 0 10px;

        .MuiIconButton-root {
            padding: 0;
        }
        .MuiSelect-select.MuiSelect-select {
            font-size: 13px;
        }
      }
  }
  .loginSection {
      height: 100vh;

  }

  @media screen and (max-width: 991px) {
    height: 100% !important;
  }
  @media screen and (max-width: 575px) {
    height: 100vh !important;
    overflow: scroll;
  }
}
#page {
    @media screen and (max-width: 767px) {
      padding: 10px;
    }
  .app-main{
    @media screen and (max-width: 767px) {
      .app-main__inner {
          padding: 15px 0px 0;
      }
    }
    .whiteBg {

      @media screen and (max-width: 767px) {
          margin: 0 0 20px;
      }

      h3 {
        @media screen and (max-width: 767px) {
          padding: 15px 50px 15px 15px;
          font-size: 18px;
        }
      }
    }
  }
}


.timing {
  background-color: #fff;
  padding: 10px;
  margin: 0 28px 0 0;
  position: relative;
  top: 0;
}
.timing label {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin: 0px;
}
.timing span {
  color: #262f66;
  font-size: 28px;
}
.timing span sub {
  color: #5d5d5d;
  font-size: 18px;
}
.timing p {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin: 0px;
}
.mobMenu {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  @media screen and (max-width: 991px) {
    display: block;
  }
}
.mobIcon {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  cursor: pointer;
  @media screen and (max-width: 991px) {
    display: block;
  }
}
.sidebar {
  background-color: #202020;
  position: fixed;
  width: 0px;
  z-index: 99;
  height: 100%;
  top: 0;
  left: 0;
 overflow: hidden; width: 0;
  height: 100vh;
    overflow-y: scroll;

    

    
  @media screen and (max-width: 991px) {
    width: 260px;
    .mobile-nav-toggle{
      position: absolute;
      right: 15px;
      top: 35px;
    }
    &.navbar-collapse{
      left: 0;
      right: auto;
      width: 0;
    }
    ul{
      &.navbar-nav{
        &.ml-auto{
          &.responsiveLogoutBtn {
            display: flex;
            flex-direction: row;
            li{
              display: flex;
              a{
                border: none;
                .alertMassages {
                    font-size: 25px;
                    color: #fff;
                }
              }
              .dropdown{
                border-radius: 50%;
                background-color: transparent;
                button{
                  img{
                    padding-right: 0;
                    margin-left: 0;
                  }
                }
                .showNotification {
                    position: absolute;
                    width: 150px;
                    .dropdown-menu{
                      background-color: #101010 !important;
                      li{
                        &:hover{
                          background: #eee !important;
                        }
                        border-bottom: none;
                        a{
                          padding: 10px 28px 10px 0px !important;
                          color: #fff !important;
                        }
                      }
                    }                    
                }
              }
            }
          }
        }
      }
    }
  }
}


.primaryNav{
  &.responsive-menu {
      .fa-bars:before {
        content: "\F00d" !important;
      }

      .mobile-nav-toggle {
        display:none;
    }
  }
}



.sidebar.show {
  width: 260px;
}
.sidebar ul {
  margin: 0px;
  padding: 30px 0 0 0;
  width: 100%;
}
.sidebar {
  ul {
    li {
      display: block;

      @media(max-width:991px){
        .dropdown {
          margin-left: 10px;
          background-color: rgba(255,255,255,0.1);
          
          a {
              border: none; text-align:left;
              padding: 8px 10px;
          }
          .dropdown-toggle{
            width: 100%;
            background-color: transparent ;
              border-color: transparent;
            &:after {
                top: 50%;
                margin-left: 0px;
                left: 5px;
                position: absolute;
            } 
            &:active{
              background-color: transparent;
              border-color: transparent;
            }
            &:focus{
              background-color: transparent;
              border-color: transparent;
            }
          }
          .show{
            &:active{
              background-color: transparent;
              border-color: transparent;
            }
          }

          .showNotification{
            padding-top: 0 !important;
            .dropdown-menu {
              position: relative !important;
              z-index: 999  !important;
              left: 0  !important;
              top: 0  !important;
              width: 90% !important;
              -webkit-transform: none  !important;
              transform: none  !important;
              background-color: #000 !important;
              li{
                a{
                  padding: 5px 10px;
                  &:active{
                    background-color:transparent !important;
                  }
                }
              }
          }

          }


        }
      }
      
    }
  }
}




.sidebar ul li a {
  padding: 10px 20px;
  display: block;
  color: #ffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  @media(max-width:991px){
    padding: 15px 20px;
  }
}
.sidebar ul li a:hover {
  text-decoration: none;
}
/*--header css--*/

header.header .navbar {
  padding: 0;
  .primaryNav{
      &.responsive-menu {
        .sidebar{

          button {
            &.mobile-nav-toggle {
              
              display:block !important;
              i{
                color: #fff;  
              }
          }
        }

        }
        
      }

      button{
        &.mobile-nav-toggle{
  
          i{
            font-size: 25px;
            margin-top: 10px;
          }
    
          &.mobile-nav-toggle {
              border: none;
              background-color: transparent;
          }
  
        }      
      }
  }
  
    
}

header.header {
  margin: 0 0 26px 0;
  position: relative;
}

nav.topNav {
  margin: 0px !important;
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.navigation {
  background-color: #fff;
}

.navigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
  font-size: 18px;
  line-height: 33px;
  font-weight: bold;
  &:first-child{
    padding-left: 0 !important;
  }
  &:last-child{
    padding-right: 0 !important;
  }
  @media screen and (max-width: 1199px) {
    font-size: 14px;
  }
  .dropdown{
    .btn-primary {
        color: #183d91;
        background-color: rgba(255,255,255,0.1);
        border-color: transparent;
        width: 100%;
    }
    ul.showNotification {
        padding: 0;
    }
  }
 
}

.navigation ul li a {
  padding: 13px 27px !important;
  display: inline-block;
  color: #183d91;
  @media screen and (max-width: 1199px) {
    padding: 8px 15px !important;
    font-size: 16px;
    
  }
  @media screen and (max-width: 767px) {
    padding: 20px 26px;
  }
}

.navigation ul li a:hover {
  text-decoration: none;
}

.navigation ul li.active,
.navigation ul li:hover {
  background-color: #1c5ca0;
  @media screen and (max-width: 767px) {
    background-color: rgba(255,255,255,0.1);
  }

}

.navigation ul li.active a,
.navigation ul li:hover a {
  color: #fff;
}
.navbar-nav {
  margin: 0px;
  padding: 0px;
  li {
    padding: 0 10px;
    cursor: pointer;
    .dropdown {
      position: relative;
      .btn {
        padding: 0px;
        background-color: transparent;
        border-color: transparent;
        &:hover {
          padding: 0px;
          background-color: transparent;
          border-color: transparent;
        }
        img {
          padding-right: 10px;
          width: 50px;
        }
      }
      .showNotification {
        position: relative;
        .dropdown-menu {
          width: 15em;
          background: #fff;
          -webkit-box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          right: -12px !important;
          top: 21px !important;
          left: auto !important;
          overflow: visible;
          border: none;
          position: absolute;
          padding-bottom: 0px;
          transform: translate3d(0px, 0px, 0px) !important; 
          padding-top:0;
          li {
            width: 100%;
            font-size: 14px;
            transition: all 0.3s ease-in-out;
            border-bottom: 1px solid #eee;
            a {
              color: #666;
              padding: 0px;
              &:hover {
                background-color: transparent;
              }
              &:focus {
                background-color: transparent;
              }
              i {
                padding: 0 10px 0 0;
              }
            }
            &:hover {
              background-color: #eee;
            }
          }
          &:after {
            content: "";
            position: absolute;
            top: -10px;
            right: 30px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border: 10px solid #fff;
            border-right-color: transparent;
            border-bottom-color: transparent;
            box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            left: auto;
          }
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
.navigation {
  margin: 0px;
  padding: 0px;
  li {
    // padding: 0 10px;
    cursor: pointer;
    &.dropdownList{
      position: relative;
      .dropdownMenu {
        position: absolute;
        left: 0;
        z-index:99;
        padding-top: 25px;
        display: none;

        ul {
            background-color: #fff;
            color: #666!important;
            min-width: 230px;
            box-shadow: 0 0.46875rem 2.1875rem rgba(8, 10, 37, 0.03);

            li{
            width: 100%;
            display: inline-block;
            a{
              width:100%;
              padding: 10px 15px !important;
              color: #666!important;
              &:hover{
                background-color: #f1f1f1;
                color: #666!important;
              }
              &.active{
                background-color: #1c5ca0;
                color: #fff!important;
              }
            }
            
          }
        
          }                
      }
      &:hover{
        .dropdownMenu {
          display: block;

          &:after {
              position: absolute;
              width: 20px;
              height: 20px;
              left: 3px;
              top: 15px;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              border-radius: 4px;
              content: '';
              display: block;
              z-index: -1;
              background-color: #fff;
          }
        }
      } 
    } 
    .dropdown {     
           position: relative;
          &:hover{
            button{
              background-color: transparent;
              span{
                color:#fff !important;
              }
              &:after{
                color:#fff;
              }
            }
        }
      .btn {
        background-color: transparent;
        border-color: transparent;
        color: #183d91;
        font-weight: bold;
        font-size: 16px;
        padding: 16px 27px;
        &:hover {
          padding: 16px 27px;
          background-color: transparent;
          border-color: transparent;
        }
        img {
          padding-right: 10px;
          width: 50px;
        }
      }
      .showNotification {
        position: relative;
        .dropdown-menu {
          width: 15em;
          background: #fff;
          -webkit-box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          right: -12px !important;
          top: 21px !important;
          left: auto !important;
          overflow: visible;
          border: none;
          position: absolute;
          padding-bottom: 0px;
          transform: translate3d(0px, 0px, 0px) !important;
          padding-top:0px;
          li {
            width: 100%;
            font-size: 14px;
            transition: all 0.3s ease-in-out;
            border-bottom: 1px solid #eee;
            padding-right: 0;
            a {
              color: #666 !important;
              padding: 0px;
              background-color: #fff;
              &:hover {
                background-color: transparent;
                color: #666 !important;
              }
              &:focus {
                background-color: transparent;
                color: #666 !important;
              }
              i {
                padding: 0 10px 0 0;
              }
            }
            &:hover {
              background-color: #eee;
            }
          }
          &:after {
            content: "";
            position: absolute;
            top: -10px;
            right: 30px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border: 10px solid #fff;
            border-right-color: transparent;
            border-bottom-color: transparent;
            box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            left: auto;
            z-index:-1;
          }
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
/*----*/

.performance {
  margin: 0 0 40px 0;
}
.quoteSlider {
  min-height: 290px;
  @media screen and (max-width: 767px) {
    margin: 0 0 20px 0;
  }
}
.quoteSlider img {
  min-height: 290px;
}
#quoteSlider .owl-dots,
#quoteSlider .owl-nav {
  display: none;
}

.employeeSlider {
  background-color: #062660;
  padding: 26px;
  position: relative;
  min-height: 290px;
  @media screen and (max-width: 767px) {
    padding: 8px 26px 26px 26px;
  }
}

.employeeSlider h1 {
  font-size: 40px;
  line-height: 33px;
  font-weight: 300;
  color: #fff;
  padding: 0 0 0 78px;
  margin: 0 0 36px 0;
  @media screen and (max-width: 1199px) {
    font-size: 30px;
    padding: 0 0 0 60px;
    margin: 0 0 35px 0;
  }
  @media screen and (max-width: 767px) {
    font-size: 26px;
    padding: 0 0 0 60px;
    margin: 0 0 15px 0;
  }
}

.thumbImage {
  position: absolute;
  top: 0px;
  left: 0px;
  @media screen and (max-width: 1199px) {
    width: 15%;
  }
}

.employeeDesc {
  position: relative;
}

.employeeInfo {
  max-width: 500px;
}

.employeeInfo h2 {
  color: #fff;
  font-size: 16px;
  line-height: 33px;
  margin: 0;
  font-weight: 300;
  @media screen and (max-width: 1199px) {
    font-size: 16px;
    line-height: 30px;
  }
  @media screen and (max-width: 576px) {
    font-size: 16px;
    line-height: 34px;
  }
}

.employeeInfo h3 {
  color: #fff;
  font-size: 16px;
  line-height: 33px;
  margin: 0;
  font-weight: 300;
  @media screen and (max-width: 1199px) {
    font-size: 16px;
    line-height: 30px;
  }
  @media screen and (max-width: 576px) {
    font-size: 16px;
    line-height: 34px;
  }
}

.employeeInfo p {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  font-weight: 300;
  @media screen and (max-width: 1199px) {
    max-width: 363px;
    font-size: 14px;
    line-height: 24px;
  }
  @media screen and (max-width: 576px) {
    font-size: 14px;
    line-height: 25px;
  }
}

.profileImage {
  width: 25%;
  position: absolute;
  right: 0;
  height: 100px;
  top: 0;
  @media screen and (max-width: 1199px) {
    width: 22%;
    bottom: 0;
    top: auto;
  }
  @media screen and (max-width: 1199px) {
    top: 0;
    bottom: auto;
  }
}

#employeeSlider .owl-nav {
  display: none;
}

#employeeSlider .owl-dots {
  position: absolute;
  right: 48px;
  bottom: 0;
  @media screen and (max-width: 1199px) {
    position: absolute;
    right: 14px;
    bottom: -16px;
  }
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
/*----*/
.sessions #boxscroll {
  height: 325px;
}
.nicescroll-cursors {
  width: 3px !important;
}
.sessions {
  background-color: #fff;
  padding: 12px;
  position: relative;
  min-height: 450px;
  margin: 0 0 20px 0;
}
.sessions h4 {
  color: #16338c;
  font-size: 32px;
  line-height: 33px;
  font-weight: 300;
  text-align: right;
  margin: 0 0 20px 0;
  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 6px 0;
  }
}
.sessionIcon {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
}
.sessions ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.sessions ul li {
  color: #5d5d5d;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 0 15px 55px;
  border-bottom: 1px solid #e3e3e3;
  font-weight: 300;
  position: relative;
  @media screen and (max-width: 1199px) {
    font-size: 14px;
    line-height: 18px;
  }
}
.sessions ul li:last-child {
  border-bottom: 0px solid #e3e3e3;
}
.meetName {
  width: 40px;
  height: 40px;
  background-color: #eee;
  text-align: center;
  border-radius: 50px;
  line-height: 40px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.arrowIcon {
  position: absolute;
  right: 0;
  bottom: 0;
}

.openingIcon {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
}

.sessions.open {
  margin: 0 0 30px 0;
  min-height: 210px;
}
.sessions.open #boxscroll1,
.sessions.open #boxscroll2 {
  height: 120px;
}
.sessions.open h4 {
  text-align: left;
  margin: 0 0 18px 0;
}
.sessions.open ul li {
  padding: 12px 0 12px 40px;
}
.counter {
  color: #a8a8a8;
  font-size: 30px;
  line-height: 33px;
  font-weight: 300;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/*----*/
#teamSlider .owl-dots {
  display: none;
}

#teamSlider .owl-nav {
  position: absolute;
}

#teamSlider .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

#teamSlider .owl-nav .owl-prev {
  font-size: 65px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#teamSlider .owl-nav .owl-prev span {
  color: #fff;
}

#teamSlider .owl-nav .owl-next {
  font-size: 65px;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#teamSlider .owl-nav .owl-next span {
  color: #fff;
}
.team .owl-carousel .owl-item img {
  max-height: 450px;
  @media screen and (max-width: 1199px) {
    min-height: 449px;
  }
}
.announcement {
  position: relative;
}

.announceDesc {
  position: absolute;
  left: 14px;
  bottom: 7px;
}

.announceDesc label {
  font-size: 29px;
  color: #fff;
  font-weight: 300;
  display: block;
  margin: 0;
  @media screen and (max-width: 1199px) {
    font-size: 23px;
  }
}

.announceDesc span {
  font-size: 27px;
  color: #fff;
  font-weight: 300;
  @media screen and (max-width: 1199px) {
    font-size: 18px;
  }
}

.announceDate {
  position: absolute;
  left: 0px;
  top: 0px;
}

.announceDate .date {
  background-color: #062660;
  color: #fff;
  width: 94px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  font-size: 32px;
  @media screen and (max-width: 1199px) {
    width: 94px;
    height: 55px;
    line-height: 55px;
    font-size: 25px;
  }
}

.announceDate .month {
  background-color: #fff;
  color: #5d5d5d;
  width: 94px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  font-size: 18px;
  @media screen and (max-width: 1199px) {
    height: 55px;
    line-height: 55px;
    font-size: 16px;
  }
}

/*----*/

.gallery {
  margin: 0 0 40px 0;
}

#gallerySlider .owl-dots {
  display: none;
}

#gallerySlider .owl-nav {
  position: absolute;
}

#gallerySlider .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

#gallerySlider .owl-nav .owl-prev {
  font-size: 65px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#gallerySlider .owl-nav .owl-prev span {
  color: #fff;
}

#gallerySlider .owl-nav .owl-next {
  font-size: 65px;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#gallerySlider .owl-nav .owl-next span {
  color: #fff;
}

.gallerySlider {
  position: relative;
}

.gallerySlider h5 {
  top: 14px;
  position: absolute;
  left: 15px;
  font-size: 35px;
  color: #fff;
  z-index: 99;
  font-weight: 300;
}

.galleryImage {
  position: relative;
}

.galleryImage:before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  width: 100%;
  height: 24%;
  bottom: 0;
  left: 0;
  @media screen and (max-width: 640px) {
    height: 18%;
  }
}

.eventDesc {
  position: absolute;
  left: 14px;
  bottom: 7px;
}

.eventDesc label {
  font-size: 29px;
  color: #fff;
  font-weight: 300;
  display: block;
  margin: 0;
  @media screen and (max-width: 1199px) {
    font-size: 20px;
    line-height: 19px;
  }
}

.eventDesc span {
  font-size: 27px;
  color: #fff;
  font-weight: 300;
  @media screen and (max-width: 1199px) {
    font-size: 18px;
  }
}
/*----*/
.events {
  margin: 0 0 40px 0;
  @media screen and (max-width: 767px) {
    margin: 0 0 35px 0;
  }
}
.events .owl-dots {
  display: none !important;
}
.eventsTitle {
  background-color: #fff;
  padding: 14px 12px 12px 12px;
  position: relative;
  margin: 0 0 24px 0;
  @media screen and (max-width: 767px) {
    padding: 5px 12px 0px 12px;
  }
}

.eventsTitle h4 {
  color: #16338c;
  font-size: 22px;
  line-height: 33px;
  font-weight: 300;
  margin: 0 0 20px 0;
  text-align: right;
}
.eventsIcon {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
}
.eventsTitle.open h4 {
  text-align: right;
  padding: 0 0 0 100px;
  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 0px 0;
    padding: 0 0 0 64px;
  }
}
.upcomingEvents {
  background-color: #fff;
}
.bdyDiv {
  text-align: center;
}
.bdyDiv .bdyImage {
  width: 50%;
  margin: 0 auto;
}
.bdyDiv h6 {
  color: #5d5d5d;
  font-size: 18px;
  margin: 8px 0;
  @media screen and (max-width: 1199px) {
    font-size: 16px;
  }
}
.brdrrgt {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
footer.footer {
  background-color: #062660;
  text-align: center;
  padding: 25px 0;
}
.copyright {
  display: block;
}

.copyright p {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  margin: 0;
}
/*----*/
.whiteBg {
  background-color: #fff;
  margin: 0 0 30px 0;
}
.whiteBg h3 {
  padding: 20px 20px;
  font-size: 20px;
  border-bottom: 1px solid #eaeaea;
  color: #121529;
  position: relative;
}
.whiteBg h3 a {
  color: #121529;
}
.panel-title > a:before {
  top: 50%;
  right: 30px;
  font-family: FontAwesome;
  content: "\f068";
  padding-right: 5px;
  position: absolute;
  transform: translateY(-50%);
  font-size: 12px;
}
.panel-title > a:after {
  top: 50%;
  right: 5px;
  font-family: FontAwesome;
  content: "\f068";
  content: "\f014";
  padding-right: 5px;
  position: absolute;
  transform: translateY(-50%);
}
.graph {
  padding: 10px 0 30px 0;

  @media(max-width:1024px){
    .col-sm-4{
      max-width: 50%;
      flex: 0 0 50%;
    }
  }

  @media(max-width:767px){
    .col-sm-4{
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}
/*----*/
.fc button,
.fc table,
body .fc {
  font-size: 1em;
}

.fc-bg,
.fc-row .fc-bgevent-skeleton,
.fc-row .fc-highlight-skeleton {
  bottom: 0;
}

.fc-icon,
.fc-unselectable {
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.fc {
  direction: ltr;
  text-align: left;
}

.fc-rtl {
  text-align: right;
}

.fc th,
.fc-basic-view td.fc-week-number,
.fc-icon,
.fc-toolbar {
  text-align: center;
}

.fc-highlight {
  background: #bce8f1;
  opacity: 0.3;
}

.fc-bgevent {
  background: #8fdf82;
  opacity: 0.3;
}

.fc-nonbusiness {
  background: #d7d7d7;
}

.fc button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  height: 2.1em;
  padding: 0 0.6em;
  white-space: nowrap;
  cursor: pointer;
}

.fc button::-moz-focus-inner {
  margin: 0;
  padding: 0;
}

.fc-state-default {
  border: 1px solid;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#fff),
    to(#e6e6e6)
  );
  background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
  background-image: -o-linear-gradient(top, #fff, #e6e6e6);
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-default.fc-corner-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.fc button .fc-icon {
  position: relative;
  top: -0.05em;
  margin: 0 0.2em;
  vertical-align: middle;
}

.fc-state-active,
.fc-state-disabled,
.fc-state-down,
.fc-state-hover {
  color: #333;
  background-color: #e6e6e6;
}

.fc-state-hover {
  color: #333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.fc-state-active,
.fc-state-down {
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  box-shadow: none;
}

.fc-event.fc-draggable,
.fc-event[href],
.fc-popover .fc-header .fc-close,
a[data-goto] {
  cursor: pointer;
}

.fc-button-group {
  display: inline-block;
}

.fc .fc-button-group > * {
  float: left;
  margin: 0 0 0 -1px;
}

.fc .fc-button-group > :first-child {
  margin-left: 0;
}

.fc-popover {
  position: absolute;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.fc-popover .fc-header {
  padding: 2px 4px;
}

.fc-popover .fc-header .fc-title {
  margin: 0 2px;
}

.fc-ltr .fc-popover .fc-header .fc-title,
.fc-rtl .fc-popover .fc-header .fc-close {
  float: left;
}

.fc-ltr .fc-popover .fc-header .fc-close,
.fc-rtl .fc-popover .fc-header .fc-title {
  float: right;
}

.fc-divider {
  border-style: solid;
  border-width: 1px;
}

hr.fc-divider {
  height: 0;
  margin: 0;
  padding: 0 0 2px;
  border-width: 1px 0;
}

.fc-bg table,
.fc-row .fc-bgevent-skeleton table,
.fc-row .fc-highlight-skeleton table {
  height: 100%;
}

.fc-clear {
  clear: both;
}

.fc-bg,
.fc-bgevent-skeleton,
.fc-helper-skeleton,
.fc-highlight-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fc table {
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.fc td,
.fc th {
  border-style: solid;
  border-width: 1px;
  padding: 0;
  vertical-align: top;
}

.fc td.fc-today {
  border-style: double;
}

a[data-goto]:hover {
  text-decoration: underline;
}

.fc .fc-row {
  border-style: solid;
  border-width: 0;
}

.fc-row table {
  border-left: 0 hidden transparent;
  border-right: 0 hidden transparent;
  border-bottom: 0 hidden transparent;
}

.fc-row:first-child table {
  border-top: 0 hidden transparent;
}

.fc-row {
  position: relative;
}

.fc-row .fc-bg {
  z-index: 1;
}

.fc-row .fc-bgevent-skeleton td,
.fc-row .fc-highlight-skeleton td {
  border-color: transparent;
}

.fc-row .fc-bgevent-skeleton {
  z-index: 2;
}

.fc-row .fc-highlight-skeleton {
  z-index: 3;
}

.fc-row .fc-content-skeleton {
  position: relative;
  z-index: 4;
  padding-bottom: 2px;
}

.fc-row .fc-helper-skeleton {
  z-index: 5;
}

.fc .fc-row .fc-content-skeleton table,
.fc .fc-row .fc-content-skeleton td,
.fc .fc-row .fc-helper-skeleton td {
  background: 0 0;
  border-color: transparent;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  border-bottom: 0;
}

.fc-row .fc-content-skeleton tbody td,
.fc-row .fc-helper-skeleton tbody td {
  border-top: 0;
}

.fc-scroller {
  -webkit-overflow-scrolling: touch;
}

.fc-icon,
.fc-row.fc-rigid,
.fc-time-grid-event {
  overflow: hidden;
}

.fc-scroller > .fc-day-grid,
.fc-scroller > .fc-time-grid {
  position: relative;
  width: 100%;
}

.fc-event {
  position: relative;
  display: block;
  font-size: 0.85em;
  line-height: 1.3;
  border-radius: 3px;
  border: 1px solid #3a87ad;
}

.fc-event,
.fc-event-dot {
  background-color: #3a87ad;
}

.fc-event,
.fc-event:hover {
  color: #fff;
  text-decoration: none;
}

.fc-not-allowed,
.fc-not-allowed .fc-event {
  cursor: not-allowed;
}

.fc-event .fc-bg {
  z-index: 1;
  background: #fff;
  opacity: 0.25;
}

.fc-event .fc-content {
  position: relative;
  z-index: 2;
}

.fc-event .fc-resizer {
  position: absolute;
  z-index: 4;
  display: none;
}

.fc-event.fc-allow-mouse-resize .fc-resizer,
.fc-event.fc-selected .fc-resizer {
  display: block;
}

.fc-event.fc-selected .fc-resizer:before {
  content: "";
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
}

.fc-event.fc-selected {
  z-index: 9999 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fc-event.fc-selected.fc-dragging {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.fc-h-event.fc-selected:before {
  content: "";
  position: absolute;
  z-index: 3;
  top: -10px;
  bottom: -10px;
  left: 0;
  right: 0;
}

.fc-ltr .fc-h-event.fc-not-start,
.fc-rtl .fc-h-event.fc-not-end {
  margin-left: 0;
  border-left-width: 0;
  padding-left: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fc-ltr .fc-h-event.fc-not-end,
.fc-rtl .fc-h-event.fc-not-start {
  margin-right: 0;
  border-right-width: 0;
  padding-right: 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.fc-ltr .fc-h-event .fc-start-resizer,
.fc-rtl .fc-h-event .fc-end-resizer {
  cursor: w-resize;
  left: -1px;
}

.fc-ltr .fc-h-event .fc-end-resizer,
.fc-rtl .fc-h-event .fc-start-resizer {
  cursor: e-resize;
  right: -1px;
}

.fc-h-event.fc-allow-mouse-resize .fc-resizer {
  width: 7px;
  top: -1px;
  bottom: -1px;
}

.fc-h-event.fc-selected .fc-resizer {
  border-radius: 4px;
  border-width: 1px;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-color: inherit;
  background: #fff;
  top: 50%;
  margin-top: -4px;
}

.fc-ltr .fc-h-event.fc-selected .fc-start-resizer,
.fc-rtl .fc-h-event.fc-selected .fc-end-resizer {
  margin-left: -4px;
}

.fc-ltr .fc-h-event.fc-selected .fc-end-resizer,
.fc-rtl .fc-h-event.fc-selected .fc-start-resizer {
  margin-right: -4px;
}

.fc-day-grid-event {
  margin: 1px 2px 0;
  padding: 0 1px;
}

tr:first-child > td > .fc-day-grid-event {
  margin-top: 2px;
}

.fc-day-grid-event.fc-selected:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: #000;
  opacity: 0.25;
}

.fc-day-grid-event .fc-content {
  white-space: nowrap;
  overflow: hidden;
}

.fc-day-grid-event .fc-time {
  font-weight: 700;
}

.fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer,
.fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer {
  margin-left: -2px;
}

.fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer,
.fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer {
  margin-right: -2px;
}

a.fc-more {
  margin: 1px 3px;
  font-size: 0.85em;
  cursor: pointer;
  text-decoration: none;
}

a.fc-more:hover {
  text-decoration: underline;
}

.fc.fc-bootstrap3 a,
.ui-widget .fc-event {
  text-decoration: none;
}

.fc-limited {
  display: none;
}

.fc-icon,
.fc-toolbar .fc-center {
  display: inline-block;
}

.fc-day-grid .fc-row {
  z-index: 1;
}

.fc-more-popover {
  z-index: 2;
  width: 220px;
}

.fc-more-popover .fc-event-container {
  padding: 10px;
}

.fc-bootstrap3 .fc-popover .panel-body,
.fc-bootstrap4 .fc-popover .card-body {
  padding: 0;
}

.fc-now-indicator {
  position: absolute;
  border: 0 solid red;
}

.fc-bootstrap3 .fc-today.alert,
.fc-bootstrap4 .fc-today.alert {
  border-radius: 0;
}

.fc-unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #ddd;
}

.fc-unthemed .fc-popover {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-popover .fc-header {
  background: #eee;
}

.fc-unthemed td.fc-today {
  background: #fcf8e3;
}

.fc-unthemed .fc-disabled-day {
  background: #d7d7d7;
  opacity: 0.3;
}

.fc-icon {
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fc-icon:after {
  position: relative;
}

.fc-icon-left-single-arrow:after {
  content: "\2039";
  font-weight: 700;
  font-size: 200%;
  top: -7%;
}

.fc-icon-right-single-arrow:after {
  content: "\203A";
  font-weight: 700;
  font-size: 200%;
  top: -7%;
}

.fc-icon-left-double-arrow:after {
  content: "\AB";
  font-size: 160%;
  top: -7%;
}

.fc-icon-right-double-arrow:after {
  content: "\BB";
  font-size: 160%;
  top: -7%;
}

.fc-icon-left-triangle:after {
  content: "\25C4";
  font-size: 125%;
  top: 3%;
}

.fc-icon-right-triangle:after {
  content: "\25BA";
  font-size: 125%;
  top: 3%;
}

.fc-icon-down-triangle:after {
  content: "\25BC";
  font-size: 125%;
  top: 2%;
}

.fc-icon-x:after {
  content: "\D7";
  font-size: 200%;
  top: 6%;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
  color: #666;
  font-size: 0.9em;
  margin-top: 2px;
}

.fc-unthemed .fc-list-item:hover td {
  background-color: #f5f5f5;
}

.ui-widget .fc-disabled-day {
  background-image: none;
}

.fc-bootstrap3 .fc-time-grid .fc-slats table,
.fc-bootstrap4 .fc-time-grid .fc-slats table,
.fc-time-grid .fc-slats .ui-widget-content {
  background: 0 0;
}

.fc-popover > .ui-widget-header + .ui-widget-content {
  border-top: 0;
}

.fc-bootstrap3 hr.fc-divider,
.fc-bootstrap4 hr.fc-divider {
  border-color: inherit;
}

.ui-widget .fc-event {
  color: #fff;
  font-weight: 400;
}

.ui-widget td.fc-axis {
  font-weight: 400;
}

.fc.fc-bootstrap3 a[data-goto]:hover {
  text-decoration: underline;
}

.fc.fc-bootstrap4 a {
  text-decoration: none;
}

.fc.fc-bootstrap4 a[data-goto]:hover {
  text-decoration: underline;
}

.fc-bootstrap4 a.fc-event:not([href]):not([tabindex]) {
  color: #fff;
}

.fc-bootstrap4 .fc-popover.card {
  position: absolute;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 1em;
}

.fc-toolbar.fc-footer-toolbar {
  margin-top: 1em;
}

.fc-toolbar .fc-left {
  float: left;
}

.fc-toolbar .fc-right {
  float: right;
}

.fc .fc-toolbar > * > * {
  float: left;
  margin-left: 0.75em;
}

.fc .fc-toolbar > * > :first-child {
  margin-left: 0;
}

.fc-toolbar h2 {
  margin: 0;
}

.fc-toolbar button {
  position: relative;
}

.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
  z-index: 2;
}

.fc-toolbar .fc-state-down {
  z-index: 3;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
  z-index: 4;
}

.fc-toolbar button:focus {
  z-index: 5;
}

.fc-view-container *,
.fc-view-container :after,
.fc-view-container :before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.fc-view,
.fc-view > table {
  position: relative;
  z-index: 1;
}

.fc-basicDay-view .fc-content-skeleton,
.fc-basicWeek-view .fc-content-skeleton {
  padding-bottom: 1em;
}

.fc-basic-view .fc-body .fc-row {
  min-height: 4em;
}

.fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fc-day-top.fc-other-month {
  opacity: 0.3;
}

.fc-basic-view .fc-day-number,
.fc-basic-view .fc-week-number {
  padding: 2px;
}

.fc-basic-view th.fc-day-number,
.fc-basic-view th.fc-week-number {
  padding: 0 2px;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: right;
}

.fc-rtl .fc-basic-view .fc-day-top .fc-day-number {
  float: left;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-week-number {
  float: left;
  border-radius: 0 0 3px;
}

.fc-rtl .fc-basic-view .fc-day-top .fc-week-number {
  float: right;
  border-radius: 0 0 0 3px;
}

.fc-basic-view .fc-day-top .fc-week-number {
  min-width: 1.5em;
  text-align: center;
  background-color: #f2f2f2;
  color: grey;
}

.fc-basic-view td.fc-week-number > * {
  display: inline-block;
  min-width: 1.25em;
}

.fc-agenda-view .fc-day-grid {
  position: relative;
  z-index: 2;
}

.fc-agenda-view .fc-day-grid .fc-row {
  min-height: 3em;
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-bottom: 1em;
}

.fc .fc-axis {
  vertical-align: middle;
  padding: 0 4px;
  white-space: nowrap;
}

.fc-ltr .fc-axis {
  text-align: right;
}

.fc-rtl .fc-axis {
  text-align: left;
}

.fc-time-grid,
.fc-time-grid-container {
  position: relative;
  z-index: 1;
}

.fc-time-grid {
  min-height: 100%;
}

.fc-time-grid table {
  border: 0 hidden transparent;
}

.fc-time-grid > .fc-bg {
  z-index: 1;
}

.fc-time-grid .fc-slats,
.fc-time-grid > hr {
  position: relative;
  z-index: 2;
}

.fc-time-grid .fc-content-col {
  position: relative;
}

.fc-time-grid .fc-content-skeleton {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}

.fc-time-grid .fc-business-container {
  position: relative;
  z-index: 1;
}

.fc-time-grid .fc-bgevent-container {
  position: relative;
  z-index: 2;
}

.fc-time-grid .fc-highlight-container {
  z-index: 3;
  position: relative;
}

.fc-time-grid .fc-event-container {
  position: relative;
  z-index: 4;
}

.fc-time-grid .fc-now-indicator-line {
  z-index: 5;
}

.fc-time-grid .fc-helper-container {
  position: relative;
  z-index: 6;
}

.fc-time-grid .fc-slats td {
  height: 1.5em;
  border-bottom: 0;
}

.fc-time-grid .fc-slats .fc-minor td {
  border-top-style: dotted;
}

.fc-time-grid .fc-highlight {
  position: absolute;
  left: 0;
  right: 0;
}

.fc-ltr .fc-time-grid .fc-event-container {
  margin: 0 2.5% 0 2px;
}

.fc-rtl .fc-time-grid .fc-event-container {
  margin: 0 2px 0 2.5%;
}

.fc-time-grid .fc-bgevent,
.fc-time-grid .fc-event {
  position: absolute;
  z-index: 1;
}

.fc-time-grid .fc-bgevent {
  left: 0;
  right: 0;
}

.fc-v-event.fc-not-start {
  border-top-width: 0;
  padding-top: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.fc-v-event.fc-not-end {
  border-bottom-width: 0;
  padding-bottom: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.fc-time-grid-event.fc-selected {
  overflow: visible;
}

.fc-time-grid-event.fc-selected .fc-bg {
  display: none;
}

.fc-time-grid-event .fc-content {
  overflow: hidden;
}

.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
  padding: 0 1px;
}

.fc-time-grid-event .fc-time {
  font-size: 0.85em;
  white-space: nowrap;
}

.fc-time-grid-event.fc-short .fc-content {
  white-space: nowrap;
}

.fc-time-grid-event.fc-short .fc-time,
.fc-time-grid-event.fc-short .fc-title {
  display: inline-block;
  vertical-align: top;
}

.fc-time-grid-event.fc-short .fc-time span {
  display: none;
}

.fc-time-grid-event.fc-short .fc-time:before {
  content: attr(data-start);
}

.fc-time-grid-event.fc-short .fc-time:after {
  content: "\A0-\A0";
}

.fc-time-grid-event.fc-short .fc-title {
  font-size: 0.85em;
  padding: 0;
}

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer {
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  overflow: hidden;
  line-height: 8px;
  font-size: 11px;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer:after {
  content: "=";
}

.fc-time-grid-event.fc-selected .fc-resizer {
  border-radius: 5px;
  border-width: 1px;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-color: inherit;
  background: #fff;
  left: 50%;
  margin-left: -5px;
  bottom: -5px;
}

.fc-time-grid .fc-now-indicator-line {
  border-top-width: 1px;
  left: 0;
  right: 0;
}

.fc-time-grid .fc-now-indicator-arrow {
  margin-top: -5px;
}

.fc-ltr .fc-time-grid .fc-now-indicator-arrow {
  left: 0;
  border-width: 5px 0 5px 6px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.fc-rtl .fc-time-grid .fc-now-indicator-arrow {
  right: 0;
  border-width: 5px 6px 5px 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.fc-event-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.fc-rtl .fc-list-view {
  direction: rtl;
}

.fc-list-view {
  border-width: 1px;
  border-style: solid;
}

.fc .fc-list-table {
  table-layout: auto;
}

.fc-list-table td {
  border-width: 1px 0 0;
  padding: 8px 14px;
}

.fc-list-table tr:first-child td {
  border-top-width: 0;
}

.fc-list-heading {
  border-bottom-width: 1px;
}

.fc-list-heading td {
  font-weight: 700;
}

.fc-ltr .fc-list-heading-main {
  float: left;
}

.fc-ltr .fc-list-heading-alt,
.fc-rtl .fc-list-heading-main {
  float: right;
}

.fc-rtl .fc-list-heading-alt {
  float: left;
}

.fc-list-item.fc-has-url {
  cursor: pointer;
}

.fc-list-item-marker,
.fc-list-item-time {
  white-space: nowrap;
  width: 1px;
}

.fc-ltr .fc-list-item-marker {
  padding-right: 0;
}

.fc-rtl .fc-list-item-marker {
  padding-left: 0;
}

.fc-list-item-title a {
  text-decoration: none;
  color: inherit;
}

.fc-list-item-title a[href]:hover {
  text-decoration: underline;
}

.fc-list-empty-wrap2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fc-list-empty-wrap1 {
  width: 100%;
  height: 100%;
  display: table;
}

.fc-list-empty {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.fc-unthemed .fc-list-empty {
  background-color: #eee;
}

.fc {
  background: #fff;
}

.fc .fc-toolbar {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fc td.fc-today {
  background: #f2f2f2 !important;
}

.fc .fc-event {
  background-color: transparent;
  border: 0;
}

.fc .fc-content {
  background-color: #4fc3f7;
  padding: 2px;
  color: #fff;
}

.fc .fc-state-default {
  border-color: #4fc3f7;
  color: #4fc3f7;
}

.fc .fc-state-active {
  background-color: #4fc3f7;
  background-image: none;
  outline: 0;
  color: #fff;
  box-shadow: none;
  text-shadow: none;
}

.fc button {
  background: transparent;
}
.recoverPass {
  h6 {
    font-weight: 600;
    margin-bottom: 20px;
    color: #193370;
    text-align: center;
    span {
      font-size: 14px;
      font-weight: normal;
    }
  }
}
.leaveFormSection {
  table {
    tr {
      th {
        &:hover {
          * {
            color: #ccc;
          }
        }
      }
    }
  }
}

/* canvas css */
table{
  &.MuiTable-root {
    tr {
      th {
        span{
          &:hover {
            color: #fff !important;
          }
        }
      }
    }
  }
}
canvas.chartjs-render-monitor {
  margin: 0 auto 20px;
}
/* mobile dropedown */

.mobiMenu{
  li{
    &.dropdownList{
      position: relative;
      .dropdownMenu {
        position: absolute;
        left: 0;
        z-index:99;
        padding-top: 10px;
        display: none;

        ul {
            background-color:rgba(255,255,255,0.1);
            color: #fff !important;
            min-width: 230px;
            box-shadow: 0 0.46875rem 2.1875rem rgba(8, 10, 37, 0.03);
            padding-top: 0px;

            li{
            width: 100%;
            display: inline-block;
            a{
              width:100%;
              padding: 10px 15px !important;
              color: #fff!important;
              &:hover{
                background-color: #f1f1f1;
                color: #666!important;
              }
              &.active{
                background-color: #1c5ca0;
                color: #fff!important;
              }
            }
            
          }
        
          }                
      }
      &:hover{
        .dropdownMenu {
          display: block;
          margin: 0 10px;
          position: relative;

          &:after {
              display:none;
          }
        }
      } 
    } 
  }
}